# *.class
# *.log
# .metals/
# .vscode/
# # Intellij
# .idea/
# target/
# # sbt
# .cache
# .history
# .history3
# .lib/
# dist/*
# target/
# lib_managed/
# src_managed/
# project/boot/
# project/plugins/project/
# project/target/
# project/project/
# logs/
# project/.sbtserver
# .sbtserver/
.vscode
.metals
.bloop
*.json
*.xml

project/metals.sbt

# sbt
project/project/
project/target/
target/
target

.ammonite
.bsp

out
.idea
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
